# String Function- Inbuilt Function
upper()--returns string which all the characters in upper case                                                              
lower()--returns string which all the characters in lower case

In [1]:
str="Anil"
print(str.upper())
print(str.lower())

ANIL
anil

# Boolean Function
islower-method returns the output either true or false, if it is true then the given character is lower case and if not it returns false                                                                                                             
isupper-method returns the output either true or false, if it is true then the given character is upper case and if not it returns false                                                                                                     
isnumeric-method returns the output either true or false, if it is true then the given number is numeric and if not it returns false                                                                                                           
isalpha-method returns the output either true or false, if it is true then the given character is alphabet and if not it returns false                                                                                                    
istitle-returns true or false (string is in title case)                                                      
isspace-true and false

In [3]:
s='Python is Easy Programming to learn and interesting'
s1="python"
print(s.islower())
print(s1.islower())

False
True

In [4]:
s="Application"
s1="ANIL"
print(s.isupper())
print(s1.isupper())

False
True

In [5]:
s="5678"
s1="App1889"
print(s.isnumeric())
print(s1.isnumeric())

True
False

In [6]:
s="Application"
s1="App1889"
print(s.isalpha())
print(s1.isalpha())

True
False

In [7]:
s="Python programming"
s1="python Programming"
print(s.istitle())
print(s1.istitle())

False
False

In [8]:
s="Python"
s1="python programming"
print(s.isspace())
print(s1.isspace())

False
False

# String method
1.join()--concatenates two strings                                                                                      
2.split()-- split()   : returns the list the list of strings that are seperated by white space                      
3.replace()--replaces original string with new string

In [9]:
str="Python"
print(" ".join(str))

P y t h o n

In [13]:
print(",".join(["Python","Programming","Easy"]))

Python,Programming,Easy

In [14]:
lst=["",""]
print(",".join(lst))

,

In [6]:
s="Python, Programming, is, easy, to, learn"
print(s.split())
print(s.split("a"))
print(s.split(","))

['Python,', 'Programming,', 'is,', 'easy,', 'to,', 'learn']
['Python, Progr', 'mming, is, e', 'sy, to, le', 'rn']
['Python', ' Programming', ' is', ' easy', ' to', ' learn']

In [9]:
s="Python Programming is easy to learn"
lst=(s.split())
print(lst)
print(lst.index("is"))

['Python', 'Programming', 'is', 'easy', 'to', 'learn']
2

In [10]:
s="Python Programming is easy to learn"
lst=list(s)
print(lst)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'i', 's', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [11]:
s="Python Programming";
print(s.replace("gra","application"))

Python Proapplicationmming

# Python-Tuples
A tuple of seq of set of objects is like list only                               
The difference of list and tuple are the tuple cannot change unlike list          
List will use square brackets hold objects[]             
tuple will use paretheses to hold the objects()  
Tuples are used when the given output is only for reading purpose

In [15]:
t1=("Python","Programming",1989,2019,"Machine Learning","AI")
t2=(1,2,3,4,5)
print(t1)
print(t2)

('Python', 'Programming', 1989, 2019, 'Machine Learning', 'AI')
(1, 2, 3, 4, 5)

In [21]:
t1=("Python","Programming",1989,2019,"Machine Learning","AI")
print("t1[0]=",t1[0])
print("t1[2]=",t1[2])
print("t1[-1]=",t1[-1])
print("t1[1:4]=",t1[1:4])
print("t1[2:-2]=",t1[2:-2])

t1[0]= Python
t1[2]= 1989
t1[-1]= AI
t1[1:4]= ('Programming', 1989, 2019)
t1[2:-2]= (1989, 2019)

In [22]:
t1=("Python","Programming",1989,2019,"Machine Learning","AI")
print(t1)
#t1[2]=2018  #del is not supported
del t1[2]

('Python', 'Programming', 1989, 2019, 'Machine Learning', 'AI')

TypeError: 'tuple' object doesn't support item deletion

In [23]:
t1=("Python","Programming",1989,2019,"Machine Learning","AI")
print(t1)
del t1          #since t1 is deleted so it will not run
print(t1)

('Python', 'Programming', 1989, 2019, 'Machine Learning', 'AI')

NameError: name 't1' is not defined

In [25]:
t1=("Python","Programming")
t2=(1989,2019,"ML","AI")
t3=t1+t2
print(t3)

('Python', 'Programming', 1989, 2019, 'ML', 'AI')

# Tuple Method
1.len(tuple)--length of tuple   
2.max(tuple)--returns the max value of the tuple  
3.min(tuple)--returns the max value of the tuple     
4.cmp(tuple1,tuple2)--returns the value as 1 or -1

In [26]:
t1=("Python","Programming",1989,2019,"Machine Learning","AI")
print(len(t1))

6

In [31]:
t1=(12,1,5,9,8,4)
print(max(t1))

12

In [32]:
t1=(19,2,16,8,6,9)
print(min(t1))

2

In [33]:
list1=("Python","Programming",1989,2019,"Machine Learning","AI")
print(list1)
tuple1=tuple(list1)
print(tuple1)

('Python', 'Programming', 1989, 2019, 'Machine Learning', 'AI')
('Python', 'Programming', 1989, 2019, 'Machine Learning', 'AI')

# Python Dictionary
Dictionary each key is separated with value by colon(:)   
User data can be separated from comma operator

Methods:-   
1.len(dicObj)-returns a number which having length   
2.str(dicObj)-returns string equivalent to dictionary     
3.copy(dicObj)-copies one dictionary object data to another dictionary data     
4.Items()-returns a list dictionary key (value)

In [35]:
user1={'Name':'Sirisha','Age':'19','Emailid':'saisirisha2830@gmail.com','Mobilenumber':'9995554446'}
print("user1[Name]=",user1['Name'])
print("user1[Emailid]=",user1['Emailid'])
print("user1[Age]=",user1['Age'])
print("user1[Mobilenumber]=",user1['Mobilenumber'])

user1[Name]= Sirisha
user1[Emailid]= saisirisha2830@gmail.com
user1[Age]= 19
user1[Mobilenumber]= 9995554446

In [40]:
user1={'Name':'Sirisha','Age':'19','EmailID':'saisirisha2830@gmail.com','Mobilenumber':'9995554446'}
print(user1['EmailID'])
user1['EmailID']='saisirisha2830@gmail.com'
print(user1['EmailID'])
user1['Address']='Hyderabad'
print(user1["Address"])

saisirisha2830@gmail.com
saisirisha2830@gmail.com
Hyderabad

In [41]:
user1={'Name':'Sirisha','Age':'19','EmailID':'saisirisha2830@gmail.com','Mobilenumber':'9995554446'}
del user1['EmailID']
user1.clear()
del user1

In [42]:
user1={'Name':'Sirisha','Age':'19','EmailID':'saisirisha2830@gmail.com','Mobilenumber':'9995554446'}
print(len(user1))
user1['Address']='Hyderabad'
print(len(user1))

4
5

In [43]:
user1={'Name':'Sirisha','Age':'19','EmailID':'saisirisha2830@gmail.com','Mobilenumber':'9995554446'}
print(str(user1))

{'Name': 'Sirisha', 'Age': '19', 'EmailID': 'saisirisha2830@gmail.com', 'Mobilenumber': '9995554446'}

In [45]:
user1={'Name':'Sirisha','Age':'19','EmailID':'saisirisha2830@gmail.com','Mobilenumber':'9995554446'}
user2=user1.copy()
print(user1)
print(user2)
user1['Address']='Hyderabad'
print(user1)
print(user2)

{'Name': 'Sirisha', 'Age': '19', 'EmailID': 'saisirisha2830@gmail.com', 'Mobilenumber': '9995554446'}
{'Name': 'Sirisha', 'Age': '19', 'EmailID': 'saisirisha2830@gmail.com', 'Mobilenumber': '9995554446'}
{'Name': 'Sirisha', 'Age': '19', 'EmailID': 'saisirisha2830@gmail.com', 'Mobilenumber': '9995554446', 'Address': 'Hyderabad'}
{'Name': 'Sirisha', 'Age': '19', 'EmailID': 'saisirisha2830@gmail.com', 'Mobilenumber': '9995554446'}

In [46]:
user1={'Name':'Sirisha','Age':'19','EmailID':'saisirisha2830@gmail.com','Mobilenumber':'9995554446'}
print(user1.items())

dict_items([('Name', 'Sirisha'), ('Age', '19'), ('EmailID', 'saisirisha2830@gmail.com'), ('Mobilenumber', '9995554446')])

In [48]:
user1={'Name':'Sirisha','Age':'19','EmailID':'saisirisha2830@gmail.com','Mobilenumber':'9995554446'}
user2=user1.copy()
print(user1.values())
print(user2.values())

dict_values(['Sirisha', '19', 'saisirisha2830@gmail.com', '9995554446'])
dict_values(['Sirisha', '19', 'saisirisha2830@gmail.com', '9995554446'])

# String formatting
%d %s

In [49]:
lst=['Python','Programming']
print("%s %s"% (lst[0],lst[1]))

Python Programming

In [50]:
lst=['Python','Programming']
print("{0} {1}".format(lst[0],lst[1]))

Python Programming

In [86]:
lst=[1,2,3,4]
print("%d %d %d %d"%(lst[0],lst[1],lst[2],lst[3]))

1 2 3 4

In [85]:
lst=[1,2,3,4]
print("value at : {0} value at :  {1}".format(lst[0],lst[1]))
print("value at : {0} value at :  {1}".format(lst[2],lst[3]))

value at : 1 value at :  2
value at : 3 value at :  4

# Contact Application
1.Add new contact         
2.Search for new contact        
3.List of all contact     
  3.1 Name1-phone1      
  3.2 Name2-phone2  
  3.3 Importing new contacts     
  3.4 Merge existing contacts    
4.Remove contact            
5.Modify contact

In [60]:
Contacts={}
def addContact(name,phone):
    #verify that the contact does not exist already
    if name not in Contacts:
        Contacts[name]=phone
        print("Contact %s added"% name)
    else:
        print("Contact %s already exist"% name)
    return
addContact("sirisha",100)
addContact("somesh",101)

Contact sirisha added
Contact somesh added

In [65]:
#Search for a particular contact from contact list
def searchContact(name):
    if name in Contacts:
        print(name,":",Contacts[name])
    else:
        print("%s does not exist" % name)
    return
searchContact("sirisha")
searchContact("somesh")
searchContact("annant")

sirisha : 100
somesh : 101
annant does not exist

In [66]:
#New contacts is given as a dictionary
print(Contacts)

{'sirisha': 100, 'somesh': 101}

In [69]:
#View contact name is given as a dictionary    
#Merge new contact with existing contact list
def impoContacts(newContacts):
    Contacts.update(newContacts)
    print(len(newContacts.keys()),"Contacts added succesful")
    return
newContacts={'Dinesh':9955112233,'Ajay':9988774455}
impoContacts(newContacts)

2 Contacts added succesful

In [70]:
print(Contacts)

{'sirisha': 100, 'somesh': 101, 'Dinesh': 9955112233, 'Ajay': 9988774455}

In [73]:
#Delete a contact from contact list
def deleteContact(name):
    if name in Contacts:
        del Contacts[name]
        print(name,": is deleted from the contact")
    else:
        print(name,": is not exist in the contact")
    return
deleteContact("sirisha")
deleteContact("Naveen")

sirisha : is not exist in the contact
Naveen : is not exist in the contact

In [74]:
print(Contacts)

{'somesh': 101, 'Dinesh': 9955112233, 'Ajay': 9988774455}

In [76]:
def updateContact(name,phone):
    if name in Contacts:
        Contacts[name]=phone
        print(name," : update with the phone number")
    else:
        print(name,"not exist in the Contacts")
    return
updateContact("somesh",102)
updateContact("sirisha",100)

somesh  : update with the phone number
sirisha not exist in the Contacts

In [77]:
print(Contacts)

{'somesh': 102, 'Dinesh': 9955112233, 'Ajay': 9988774455}

# Packages and Modules
package:collection of Modules(Python file.py)         
sub packages:Its part of Main package          
Module:A single python file contains set of operations(Functions)         
Packages-->Sub Package-->Modules-->Function                
Standard Lib--Math

In [87]:
from math import floor as f1  #the memory allocated only for the function of floor
f1(123.456)

123

In [88]:
from math import factorial as fact
fact(5)

120

In [89]:
import math
math.factorial(5)

120

In [95]:
#generate the random numbers between the two limits
import random
def generateRandomNumbers(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
    return
generateRandomNumbers(10,12,120)

112 33 39 102 44 95 65 24 58 22

# Assignment 
1.Use math package-- Extract minimum of 10 functions         
2.Use random package-- Extract minimum of 10 functions