# CONTROL FLOW STATEMENTS

# EXAMPLES

In [6]:
x=10;
if(x<15):
 print("the number is less than 15");

the number is less than 15

In [12]:
x=10;
if(x>15):
 print("the number is less than 15");
else:
 print("the number is greater than 15");

the number is greater than 15

In [13]:
x=10;
if(x>15):
 print("hello good morning");
else:
 print("hello good after noon");

hello good after noon

# EXAMPLE 
Need input as two numbers and print the greatest number

In [14]:
x=10;
y=20;
if(x>y):
 print("x is greater than y");
else:
 print("y is greater than x");

y is greater than x

In [18]:
x=int(input("enter x"));
y=int(input("enter y"));
if(x>y):
 print("x is greater than y");
else:
 print("y is greater than x");

enter x10
enter y20
y is greater than x

# EXAMPLE
Need two numbers as input if both the numbers are same then output must be square a first number if not the output must be multiplication of both numbers

In [22]:
x=int(input("enter x"));
y=int(input("enter y"));
if(x==y):
 print(x**x)
else:
 print(x*y)

enter x2
enter y3
6

# EXAMPLE
Print the number is positive,negative or zero

In [1]:
x=int(input("enter x"));
if(x>0):
 print("x is positive number");
elif(x<0):
 print("x is negative number");
else:
 print("x is zero");

enter x10
x is positive number

# LOOPS 
print the numbers from 1 to 10

In [3]:
n=1;
while(n<=10):
 print(n);
 n=n+1;

1
2
3
4
5
6
7
8
9
10

# EXAMPLE
print the numbers from 10 to 1

In [4]:
n=10;
while(n>=1):
 print(n);
 n=n-1;

10
9
8
7
6
5
4
3
2
1

# EXAMPLE
print the numbers from -22 to 45

In [1]:
n=-22;
while(n<=45):
 print(n);
 n=n+1;

-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45

# EXAMPLE
Print the sum of even numbers from 1 to 100

In [12]:
x=int(input("enter x"));
y=int(input("enter y"));
sum=0;
while(x!=y):
 if(x%2==0):
    sum=sum+x;
 x=x+1;
print(sum);

enter x1
enter y100
2450

# EXAMPLE
Extract the digits of the number from right side direction

In [14]:
x=int(input("enter x"));
while(x!=0):
 r=x%10;
 print(r);
 x=x//10;

enter x145
5
4
1

In [1]:
x=int(input("enter x"));
sum=0;
while(x!=0):
 r=x%10;
 if(r%2==0):
  sum=sum+r;
 x=x//10;
print(sum);

enter x1951
0

In [2]:
x=int(input("enter x"));

while(x!=0):
    r=x%10
    
    
    if(r==0):
      print("zero");
    elif(r==1):
      print("one");
    elif(r==2):
     print("two");
    elif(r==3):
     print("three");
    elif(r==4):
     print("four");
    elif(r==5):
     print("five");
    elif(r==6):
     print("six");
    elif(r==7):
     print("seven");
    elif(r==8):
     print("eight");
    elif(r==9):
     print("nine");
    x=x//10;

enter x11234
four
three
two
one
one

In [ ]:
x=int()